head {
    background-color: #2E4272;
    color: white;
}
a {
    color: white;
}
body {
    background-color: #2E4272;
    color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}
